body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
}

.carousel {
  margin: auto;
  width: 640px;
  overflow: hidden;
}

.carousel-slides {
  width: max-content;
  transition-property: margin-left;
  transition-duration: 250ms;
}

.carousel-navigation {
  position: absolute;
  top: 40%;
}

#slide {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: -20px;
  padding: 20px;
  width: 640px;
  z-index: 1;
}

#album {
  text-transform: uppercase;
  letter-spacing: .16em;
  text-align: center;
  font-weight: 600;
}

#artist {
  text-align: center;
  font-weight: 300;
  padding-bottom: 10px;
}

#cover_picture {
  padding-top: 20px;
}

#credit {
  text-align: center;
  padding-top: 2px;
}

#desc {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

#arrow-left {
  left: 20px;
  position: absolute;
  z-index: 2;
}

#arrow-right {
  left: 590px;
  position: absolute;
  z-index: 2;
}
